body{
    background-color: #920000;
    background-image: url('../../images/4k India.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
ul.ulnav{
border-radius: 5px;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}
li.linav{
    float: left;
}
li.linav a{
    display: block;
    color: #920000;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
li.linav a:visited{
    display: block;
    color: purple;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
li.linav a:link{
    background-color: hotpink;
}
div.static {
    position: static;
    border: 3px solid #73AD21;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: hotpink;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px hot hotpink;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: hotpink}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: hotpink;
}